@import '~_rootStyle/variables';

:local {
    .inputBlock {
        position: relative;
    }

    .input {
        border: 0;
        outline: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: varColor('silver-second');
        }
    }

    .icon {
        fill: varColor('black-haze');
        height: 24px;
        left: 11px;
        position: absolute;
        top: 11px;
        width: 24px;
    }
}
