:local {
    .row {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .cell {
        box-sizing: border-box;
        flex-grow: 1;
        list-style: none; // Default to full width
        overflow: hidden;
        padding: 0.8em 1.2em; // Or flex might break
        width: 100%;
    }
}
