$color--white: #fff;
$color--black: #000;
$color--light-grey: #e6e6e6;
$color--grey: #ccc;
$color--dark-grey: #7b7b7b;
$color--primary: #2aa1c0;
$color--secondary: #0e647d;

.control {
    align-content: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
    min-height: 22px;
    padding-left: 30px;
    position: relative;

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}

.controlIndicator {
    background: $color--light-grey;
    border-radius: 2px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 20px;

    .controlRadio & {
        border-radius: 50%;
    }

    .control:hover input ~ &,
    .control input:focus ~ & {
        background: $color--grey;
    }

    .control input:checked ~ & {
        background: $color--primary;
    }

    .control:hover input:not([disabled]):checked ~ &,
    .control input:checked:focus ~ & {
        background: $color--secondary;
    }

    .control input:disabled ~ & {
        background: $color--light-grey;
        opacity: 0.6;
        pointer-events: none;
    }

    &:after {
        content: '';
        display: none;
        position: absolute;

        .control input:checked ~ & {
            display: block;
        }

        .controlCheckbox & {
            border: solid #fff;
            border-radius: 50%;
            height: 25%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 25%;
        }

        .controlCheckbox input:disabled ~ & {
            border-color: $color--dark-grey;
        }

        .controlRadio & {
            background: $color--white;
            border-radius: 50%;
            height: 6px;
            left: 7px;
            top: 7px;
            width: 6px;
        }

        .controlRadio input:disabled ~ & {
            background: $color--dark-grey;
        }
    }
}
