@import '~_rootStyle/variables';

:local {
    .button {
        background: transparent;
        border: 0;
        color: varColor('white');
        display: block;
        height: 100%;
        outline: none;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
