@import '~bootstrap/scss/bootstrap-reboot';
@import 'variables';

html,
body {
    background-color: varColor('gallery');
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#root {
    bottom: 0;
    filter: blur(0);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#root.isBlured {
    filter: blur(10px);
}

/* ==========================================================================
 Helpers
 ========================================================================== */
:root {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }
}

//@import 'grid';
