/* ==========================================================================
   Default Units
   ========================================================================== */
$pixel: 1px;
$second: 1s;

/* ==========================================================================
   Colors
   ========================================================================== */
$colors: (
    'alto': #d9d9d9,
    'black': #000,
    'cape-cod': #3a3c3d,
    'gallery': #eee,
    'white': #fff,
    'mercury': #e6e6e6,
    'silver': #c4c4c4,
    'silver-second': #c0c0c0,
    'pickled-bluewood': #2d374f,
    'black-haze': #e9eceb
);

/* ==========================================================================
 Sizes
 ========================================================================== */

/* Page
   ========================================================================== */
$page-padding-lr: 42 * $pixel;

/* ==========================================================================
   Animation
   ========================================================================== */
$animation-fast-speed: 1 / 3 * $second;

@function varColor($color-name) {
    @return var(--color-#{$color-name});
}
