@import '~_rootStyle/variables';

:local {
    .modal {
        align-items: center;
        bottom: 0;
        display: none;
        justify-content: center;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;

        .blurAfter {
            background-color: varColor('pickled-bluewood');
            content: '';
            height: 100%;
            left: 0;
            opacity: 0.8;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }

    .showModal {
        display: flex;
    }

    .blockBack {
        cursor: pointer;
        height: 24px;
        left: 32px;
        opacity: 0.7;
        position: absolute;
        top: 32px;
        transition: opacity $animation-fast-speed ease-in-out;
        user-select: none;
        width: 146px;

        &:hover {
            opacity: 1;
        }
    }

    .blockBackIcon {
        display: inline-block;
        width: 24px;
    }

    .backTitle {
        color: varColor('white');
        display: inline-block;
        font-size: 14px;
        left: 40px;
        position: absolute;
        top: 2px;
    }

    .footer {
        bottom: 18px;
        color: varColor('white');
        font-size: 12px;
        left: 50%;
        opacity: 0.5;
        position: absolute;
        transform: translateX(-50%);
    }
}
