@import '~_rootStyle/variables';

:local {
    .editor {
        color: varColor('black');
    }

    .chapterStyle {
        color: varColor('cape-cod');
        font-size: 18px;
        padding: 24px 0;
        text-align: center;
        text-decoration: underline;
    }

    .titleStyle {
        color: varColor('cape-cod');
        font-size: 24px;
        font-weight: bold;
        padding: 24px 0;
        text-align: center;
    }

    .isView {
        [data-block='true'] {
            background-clip: content-box;
            background-color: varColor('white');
            cursor: text;
            position: relative;
            transition: background-color $animation-fast-speed ease-in-out;

            &::before {
                background: linear-gradient(
                    to right,
                    rgba(varColor('alto'), 0) 0%,
                    rgba(varColor('alto'), 1) 10%,
                    rgba(varColor('alto'), 1) 50%,
                    rgba(varColor('alto'), 1) 90%,
                    rgba(varColor('alto'), 0) 100%
                );
                bottom: 0;
                content: '';
                left: $page-padding-lr / -1;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: $page-padding-lr / -1;
                top: 0;
                transition: opacity $animation-fast-speed ease-in-out;
                user-select: none;
            }

            &:hover::before {
                opacity: 0.1;
            }
        }
    }
}
