@import '~_rootStyle/variables';

$size-dot: 1px;

:local {
    .page {
        background-color: varColor('white');
        border-radius: 2px;
        box-shadow: 0 0 0 1px varColor('mercury'),
            0 2px 2px 0 rgba(varColor('black'), 0.06),
            0 4px 12px 0 rgba(varColor('black'), 0.08);
        flex: 0 0 679px;
        height: 882px;
        margin: 12px;
        padding: 37px $page-padding-lr;
        position: relative;
        text-align: justify;
        width: 679px;
    }

    .canvas {
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
    }
}
